{% if situation is defined and situation is not null %}
    {% if situationDetailsListe is defined and situationDetailsListe is not null %}

        <!-- Affichage du référentiel et des situations correspondantes -->
        <div class="row">
            <div class="col-12 text-center">
                <strong>
                    <span id="situation_libelle">
                        {{ situation.libelle | striptags }}
                    </span>
                </strong>
                <br><br>

                {% for referentiel in situation.referentiels %}
                    <span class="referentiel_libelle">{{referentiel.libelle}}</span><br>
                {% endfor %}
            </div>
        </div><br><br><br><br>

        {% for situationDetails in situationDetailsListe %}

            <!-- Affichage des informations de la description -->
            <div class="row">

                <div class="col-lg-2 col-4" style="font-size: 1.2em">
                    <bold>Compétences :</bold>
                </div>
                <div class="col-lg-10 col-8">
                    {% for competence in situationDetails.competences %}
                        <div class="competence_libelle">{{competence}}</div>
                    {% endfor %}
                    <br><br><br><br>
                </div>

                <div class="col-12 user_description">
                    {{ situationDetails.description | raw }}
                </div>

            </div>

            <!-- Traitement du carousel -->
            <div id="carousel{{situationDetails.id}}" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for picture in situationDetails.pictures %}
                        <div {% if loop.index0 == 0 %} class="carousel-item active col-12" {% else %} class="carousel-item col-12" {% endif %}>
                            <img class="col-12 image_carousel" onclick="resize(this)" alt="{{picture.alt}}" src="{{asset('uploads/img/'~picture.getFileName())}}"/>
                        </div>
                    {% endfor %}
                </div>

                <!-- Left and right controls -->
                {% if situationDetails.pictures|length > 1  %}
                    <a class="left carousel-control-prev" href="#carousel{{situationDetails.id}}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control-next" href="#carousel{{situationDetails.id}}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}

                <!-- Indicators -->
                {% if situationDetails.pictures|length > 1  %}
                    <ol class="carousel-indicators">
                        {% for picture in situationDetails.pictures %}
                            <li {% if loop.index0 == 0 %}class="active"{% endif %} data-target="#carousel{{situationDetails.id}}" data-slide-to="{{loop.index0}}">{{loop.index0+1}}</li>
                        {% endfor %}
                    </ol>
                {% endif %}

            </div>

            <!-- Si l'utilisateur courant est sur son espace affichage des bouttons d'éditions-->
            {% if app.user.id == situation.user.id %}
                <div class="sectionSituationButton">
                    <div class="row">
                        <div class="offset-lg-8 col-lg-4 offset-6 col-5 offset-1">
                            <button class="btn btn-secondary button-size" style="float: right; margin-left: 2%;" onclick="window.location.href='{{path('situation_details_edit', {'id': situationDetails.id})}}'">
                                <i class="fas fa-edit"></i>Editer
                            </button>
                            <button class="btn btn-secondary button-size" style="float: right; margin-left: 2%;" onclick="deletePost({{user.id}}, {{situation.id}}, {{situationDetails.id}})">
                                <i class="fas fa-trash-alt"></i>Supprimer
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}

    {% endif %}

    <div class="row">
        {% if app.user.id == situation.user.id %}
            <div class="col-lg-2 col-3">
                <button class="btn btn-primary button-size" onclick="window.location.href='{{path('situation_details_new', {'situation': situation.id})}}'">
                    <i class="fas fa-plus-circle"></i>Nouveau
                </button>
            </div>
        {% endif %}
    </div>

{% else %}

    <!-- Affichage de la description utilisateur si pas sur les situations -->
        <div class="row"> {% if user is defined and user is not null %}

            <div class="col-12 text-center" id="user_username">
                Présentation :
                {{ user.username | striptags }}
            </div>

            <br><br>

            {% if user.description is not null or user.description is not empty %}
                <div class="col-12 user_description">
                    {{ user.description | raw }}
                </div>
            {% else %}
                <div class="col-12 text-center user_description">
                    Aucune description disponible sur le profil de
                    {{ user.username | striptags }}
                </div>
            {% endif %}

        {% endif %}
    </div>

<script>

function viewImg() 
{

}

</script>
{% endif %}
