<!---------------------------------------------------------------
|           AFFICHAGE DES SITUATIONS DES UTILISATEURS 
----------------------------------------------------------------->

<tr>
    <th>Identifiant de la Situation</th>
    <th>Identifiant du post</th>
</tr>
{% for situationDetails in situationDetailsList %}
    <tr>
        <td>{{ situationDetails.situation.id }}</td>
        <td>{{ situationDetails.id }}</td>
        {% if situationDetails.validated == 0 %}
            <td>
                <button class="btn btn-primary btn-size" onclick="window.location.href='{{ path('admin_control_post', {'id': situationDetails.id, 'param': 1 }) }}'">Activer</button>
            </td>
        {% else %}
            <td>
                <button class="btn btn-primary btn-size" onclick="window.location.href='{{ path('admin_control_post', {'id': situationDetails.id, 'param': 0 }) }}'">Désactiver</button>
            </td>
        {% endif %}
        <td>
            <button class="btn btn-primary btn-size" onclick="userPost({{situationDetails.id}})">voir</button>
        </td>
    </tr>
{% endfor %}
