<!DOCTYPE HTML>
    <html>

        <head> 
            <meta charset="utf-8"/>
            <html lang="fr">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Mon tableau de bord</title>

            <!-- Bibliothèques Jquery -->
            <script src="{{ asset('js/jquery.js') }}"></script>
            
            <!-- Bibliothèques Boostrap-->
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
            
            <!-- Lien icone font awesome et CSS personnel -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
            <link href="{{ asset('css/TDB.css') }}" rel="stylesheet"/>
            
            <!-- FOS Routing Bundle -->
            <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            
            <!-- development version, includes helpful console warnings -->
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
	    </head>
        
	    <body>
            <div id="body">
            <header class="container-fluid">
               
                <!-- Navigation -->
                <div class="row align-items-center" id="main_navigation">
                    <div class="col-8">
                        {% if app.user %}
                            <ul class="nav justify-content-around">
                                <li class="nav-item"><a href="{{path('user_index')}}"><i class="fas fa-user"></i>Mon espace</a></li>
                                <li class="nav-item"><a href="{{path('situation_liste')}}"><i class="fas fa-file-alt"></i>Mes missions</a></li>
                                <li class="nav-item"><a href="{{path('user_dashboard')}}"><i class="fas fa-columns"></i>Mon tableau de bord</a></li>  
                            </ul>
                        {% else %}
                            <ul class="nav">
                                <li class="nav-item"><a href="{{path('user_index')}}"><i class="fas fa-user"></i>Mon espace</a></li>
                            </ul>
                        {% endif %}
                    </div>
                    {% if not app.user %}
                        <div class="col-4 text-right">
                            <div><a href="{{path('user_new')}}">S'enregister</a></div>
                            <div><a href="{{path('login')}}">Se connecter</a></div>
                        </div>
                    {% else %}
                        <div class="col-4 text-right">
                            <i class="fas fa-user-circle imgCursor" id="modalImage" style="font-size: 4vh"></i>
                        </div>                
                    {% endif %}
                </div>
                {% if app.user %}
                 
                    <div class="modal row justify-content-around" id="modalWindow">
                        <div class="text-center col-12" id="modalName">Bienvenue {{ app.user.username | striptags | nl2br }}</div>
                            {% if is_granted('ROLE_ADMIN') %}
                            <div class=" text-center col-12 modalDiv"><a href="{{path('admin_dashboard')}}"><i class="fas fa-unlock-alt"></i>Administration</a></div>  
                            {% endif %}
                            <div class=" text-center col-12 modalDiv"><a href="{{path('user_edit')}}"><i class="fas fa-user-edit"></i>Mon compte</a></div>
                        <div class="text-center col-12"><a id="modalName" href="{{path('logout')}}">Déconnexion</a></div>
                    </div>
                 
                {% endif %}
            </header>
                   
            <div class="container-fluid" id="backGround">
                {% block body %} {% endblock %}
            </div>
                    
            <footer class="container-fluid" id="main_footer">
                <div class="row">
                    <div class="col-12 text-center" style="padding: auto">
                        <div id="mainFooterLib" style="padding: auto">BTS Services Informatiques aux Organisations</div>
                    </div>
                </div>
            </footer>
            </div>        
	    </body>

        <!-- Chargement des fonctions javascript personnelles si l'utilisateur est connecté -->
        {% if app.user %}
            <script>  
                {{include('Javascript/baseJS.js')}}
                {% block javascripts %}

                {% endblock %}
            </script>
        {% endif %}

    </html>
  