{% extends 'base.html.twig' %}

{% block body %}
   
    <div class="row" style=" margin-top: 10%; margin-bottom: 2%;">
        <div class="offset-2 col-10"> 
            <button class="btn btn-primary button-size" onclick="window.location.href='{{ path('admin_referentiel_edit') }}'">
                <i class="fas fa-plus-circle"></i>Nouveau
            </button>
        </div>
    </div>
        
    <div class="row">
        <div class="offset-2 col-8" id="table_div">
            {%if referentiels is defined%}
                <table class="table table-hover">
                    <tr><th colspan="3">Libelle</th></tr>
                    {% for referentiel in referentiels %}
                        <tr> 
                            <td> {{ referentiel.libelle }} </td> 
                            <td> <a href="{{ path('admin_referentiel_edit', {'referentiel' : referentiel.id}) }}">Modifier</a> </td> 
                            <td> <a href="{{ path('admin_referentiel_delete', {'referentiel' : referentiel.id}) }}">Supprimer</a> </td> 
                        </tr> 
                    {%endfor%}
                </table>
            {% endif%}
        </div>
    </div>
        
    <div class="row" style=" margin-top: 2%;">
        <div class="offset-2 col-10"> 
            <button class="btn btn-secondary button-size" onclick="window.location.href='{{ path('admin_dashboard') }}'">
                Retour
            </button> 
        </div>
    </div>
            
{% endblock %}
