{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row page_content">
       
        <h2 class="offset-2 col-8 text-center">Contrôle des restaurations</h2>

        <div class="offset-2 col-8">
            {{ form_start(form, {'action': path('admin_backup_restaure'), 'method': 'post', 'attr': {'novalidate': 'novalidate'}}) }}

                <div class="form-group row">   
                    {{ form_label(form.backups, 'Liste des fichiers de restaurations de la base de données', {'label_attr': {'class': 'col-12'} }) }}
                    {{ form_widget(form.backups, {'attr': {'class': 'form-control col-12 backupContainer'}}) }}
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <input class="btn btn-secondary" type="submit" value="Restaurer"/>
                        <input class="btn btn-primary" type="button" value="Nouveau" onclick="window.location.href='{{path('admin_backup_bdd')}}'"/>
                    </div>
                </div>

            {{ form_end(form) }}
        </div>

        {{ include('Templates/Error/flash.html.twig') }}
        {{ include('Templates/Error/error.html.twig') }}
        {{ include('Templates/Error/message.html.twig') }}
    
    </div>
                
{% endblock %}
