{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row page_content">
       
        <div class="col-12 text-center" style="margin-bottom: 2%;"><h2>Contrôle des comptes</h2></div>
        
        {% if userList is defined %}        
            <table class="table col-12">
                <tr>
                    <th>Pseudonyme</th><th>Nom</th><th>Prénom</th>
                    <th>Adresse email</th><th>Rôle utilisateur</th>
                    <th>Compte</th>
                </tr>
                {% for user in userList %}
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        {% if user.roles is not empty %}
                            {% if user.roles[0] == 'ROLE_ADMIN' %}
                                Administrateur
                            {%else%}
                                Utilisateur
                            {%endif%}
                        {% endif %}
                    </td>
                    <td>
                        {% if user.isActive == '1' %}
                            Compte actif
                        {% else %}
                            Compte inactif
                        {% endif %}
                    </td>
                    <td>
                        {% if user.roles is not empty %}
                            {% if user.roles[0] == 'ROLE_ADMIN' %}
                                <a href="{{path('admin_control_role', {'user': user.id, 'param': 0})}}">Rétrograder utlisateur</a>
                            {%else%}
                                <a href="{{path('admin_control_role', {'user': user.id, 'param': 1})}}">Promouvoir administrateur</a>
                            {%endif%}
                        {% else %}
                            <a href="{{path('admin_control_role', {'user': user.id, 'param': 0})}}">Promouvoir utlisateur</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if user.isActive == '1' %}
                            <a href="{{path('admin_control_account', {'user': user.id, 'param': 0})}}">Désactiver le compte</a>
                        {% else %}
                            <a href="{{path('admin_control_account', {'user': user.id, 'param': 1})}}">Activer le compte</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
        
    </div>
                
{% endblock %}
