{% extends "base.html.twig" %}

{% block body %}
    
    <div class="row ">

        {{ include('Templates/Navigation/userNavProfile.html.twig') }}
        
        <div class="offset-2 col-8 page_content">
            <h2 class="col-8 text-center">Mon profil</h2>          
            <div class="form-group">
                {{ form_start(form, {'action': path('user_edit'), 'method': 'post', 'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group row">
                        {{ form_label(form.firstname, 'Nom', {'label_attr': {'class': 'col-2'} }) }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control col-6'} }) }}
                    </div>
                    <div class="form-group row"> 
                        {{ form_label(form.lastname, 'Prénom', {'label_attr': {'class': 'col-2'} }) }}
                        {{ form_widget(form.lastname, {'attr': {'class': 'form-control col-6'} }) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.username, 'Pseudo', {'label_attr': {'class': 'col-2'} }) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control col-6'} }) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.email, 'Adresse email', {'label_attr': {'class': 'col-2'} }) }}
                        {{ form_widget(form.email, {'attr': {'class': 'form-control col-6'} }) }}
                    </div>
                    <div class="form-group row">
                        {{ form_label(form.password, 'Mot de passe', {'label_attr': {'class': 'col-2'}, 'placeholder': 'Renseignez votre mot de passe...' }) }}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control col-6'} }) }}
                    </div>
                        
                    {{ include('Templates/Profile/Button/buttonModify.html.twig') }} 
                {{ form_end(form) }}
            </div>

            {{ include('Templates/Error/error.html.twig') }}
            {{ include('Templates/Error/message.html.twig') }}

        </div>

    </div>
    
{% endblock %}
