{% extends "base.html.twig" %}

{% block body %}
    
    <div class="row">
            
        {{ include('Templates/Navigation/userNavProfile.html.twig') }}
            
        <div class="col-10 page_content"> 
            <h2 class="col-12 text-center" >Mon entreprise</h2>
            <div class="form-group"> 
                {{ form_start(form, {'action': path('user_edit_description'), 'method': 'post', 'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="form-group col-12">
                        {{ form_widget(form.description) }}
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-1 col-3">
                            <input class="btn btn-primary button-size" type="submit" value="Modifier"/>
                        </div>
                    </div>    
                {{ form_end(form) }}
            </div>
        </div> 
            
        {{ include('Templates/Error/error.html.twig') }}
        {{ include('Templates/Error/message.html.twig') }}

    </div>
   
{% endblock %}
