{% extends 'base.html.twig' %}

{% block body %}
   
    <div class="row page_content">

        <div class="offset-2 col-8"> 
            <button class="btn btn-primary button-size" onclick="window.location.href='{{ path('situation_new') }}'">
                <i class="fas fa-plus-circle"></i>Nouveau
            </button>
        </div>
        
     
        <div class="offset-2 col-8" id="table_div">
            {% if situations is defined %}
                <table class="table table-hover">
                    <tr><th>Nom de la situation</th><th colspan="3">Référentiel(s) obligatoire(s)</th></tr>
                    {% for situation in situations %}
                        <tr> 
                            <td> {{ situation.libelle }} </td> 
                            <td> 
                                {% for referentiel in situation.referentiels %}
                                    {{ referentiel.libelle }} <br> 
                                {% endfor %}
                            </td> 
                            <td> <a href="{{ path('situation_edit', {'id' : situation.id}) }}">Modifier</a> </td> 
                            <td> <a href="{{ path('situation_suppression', {'id' : situation.id}) }}">Supprimer</a> </td> 
                        </tr> 
                    {% endfor %}
                </table>
            {% endif %}
        </div>
   
        <div class="offset-2 col-8"> 
            <button class="btn btn-secondary button-size" onclick="window.location.href='{{ path('user_index') }}'">
                Retour
            </button> 
        </div>
        
    </div>
            
{% endblock %}
