<!-- Liste des utilisateurs connectés -->


<div class="row">

    {% if situationList is defined and situationList is not null %}
    {% if app.user != user %}
        <i class="fas fa-undo userNavUndo imgCursor" onclick="window.location.href='{{path('user_index')}}'"></i>
    {% endif %}
    <i class="fas fa-eye userNavEye imgCursor" onclick="changeViewList()"></i>
    <ul class="col-12">
        <div class="row justify-content-around">
            <h5 class="user_nav_lib">Missions</h5>
        </div>
        {% for situation in situationList %}
        <div class="row justify-content-around text-center">
            <li class="user_nav_li" onclick='viewFullPost({{user.id}},{{situation.id}})'>{{ situation.libelle }}</li>
        </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% if userList is defined and userList is not null %}
    <i class="fas fa-undo userNavUndo imgCursor" onclick="window.location.href='{{path('user_index')}}'"></i>
    <i class="fas fa-eye userNavEye imgCursor" onclick="changeViewList()"></i>
    <ul class="col-12">
        <div class="row justify-content-around">
            <h5 class="user_nav_lib">Utilisateurs</h5>
        </div>
        {% for user in userList %}
        <div class="row justify-content-around">
            {% if app.user != user %}
                <li class="user_nav_li"><a href="{{path('user_show',{'user': user.id})}}">{{ user.username }}</a></li>
            {% endif %}
        </div>
        {% endfor %}
    </ul>
    {% endif %}

</div>